<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    
    <% if (projects && projects.length > 0) { %>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <strong><%= new Date(project.date).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></strong>: 
                    <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                    (<em><a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></em>)
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No service projects available at this time.</p>
    <% } %>
</main>

<%- include('partials/footer') %>